<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DELETE USER</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/createUser.css">
</head>

<body>
    <header class="topnav">
        <a href="/">Home</a>
        <a href="/createUser">Create User</a>
        <a href="/allUsers">User List</a>
        <a href="#about">About</a>
    </header>

    <h1>DELETE PAGE</h1>
    <form action="/deleteCurrentUser" method="POST">
        <div class="DN">
            <input type="text" id="id" name="id" value="<%= delUser.id %>"><br><br>
        </div>
        <fieldset>
            <h2>Are you sure to remove user <%= delUser.email %>
            </h2>

            <input type="submit" value="Confirm">
        </fieldset>
    </form>
</body>

</html>