<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME PAGE</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/createUser">Sign up</a>
        <a href="/allUsers">User List</a>
        <a href="#about">About</a>
    </header>
    <div>
        <h1>WELCOME TO HOME PAGE</h1>
        <p>
            <img class="homeImg" src="images/777.png" alt="">
        </p>
    </div>

</body>

</html>