* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

a {
  text-decoration: none;
}

.errmsg {
  display: inline-block;
  background-color: #FFF;
  color: firebrick;
  padding: 0.5em;
  margin-bottom: 0.5em;
  font-size: large;
  height: fit-content;
  width: 100%;
  border: 1px solid firebrick;
  border-radius: 10px;
}