ul {
    list-style-type: none;
    padding: 5px 0px 10px 0px;
    display: grid;
    place-content: center;
    border-radius: 0px 0px 10px 10px;
}

$headerHeigh: 45px;
$burgerMenuWidth: 160px;
$burgerMenuHeight: 175px;
$headerColor: #172940;
$headerContentColor: white;

// START == Burger btn and burger's dropdown menu ==

// START Burger btn
.burger {
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 20;
    background-color: $headerColor;
    border: none;
    display: grid;
    align-items: center;
}

.burger span {
    width: 100%;
    height: 4px;
    background-color: $headerContentColor;
    border-radius: 12px;
    display: block;
    transition: background-color 0.3s ease-in-out;
}

.burger span::before,
.burger span::after {
    content: "";
    width: 100%;
    background-color: $headerContentColor;
    display: block;
    transition: all 0.3s ease-in-out;
    border-radius: 12px;
    height: 4px;
}

.burger span::before {
    transform: translateY(-7px);
}

.burger span::after {
    transform: translateY(7px);
    margin-top: -4px;
}

.burger.active span {
    background-color: transparent;
}

.burger.active span::before {
    transform: rotateZ(45deg) translateY(0);
}

.burger.active span::after {
    transform: rotateZ(-45deg) translateY(0);
}

// END Burger btn

// START Burger's dropdown menu
.dropdown-content {
    background-color: $headerColor;
    position: absolute;
    top: $headerHeigh;
    left: 0px;
    transform-origin: top;
    transform: rotateX(90deg);
    transition: transform 0.15s linear;
    width: $burgerMenuWidth;
    height: $burgerMenuHeight;
}

.dropdown-content.active {
    transform: rotateX(0deg);
}

.dropCom {
    display: block;
    color: $headerContentColor;
    width: fit-content;
    height: fit-content;
    padding: 5px 10px;
    width: 100%;
    border-radius: 5px;
}

.dropCom.active {
    color: rgb(185, 210, 255);
    background-color: rgb(0, 0, 0);
}

.dropCom:hover {
    color: rgb(185, 210, 255);
    background-color: rgb(0, 0, 0);
}

.checkbox {
    display: none;
}

input[type=checkbox]:checked+.expand-menu {
    transform: rotateY(0deg);
}

.expand-menu {
    background-color: $headerColor;
    color: $headerContentColor;
    position: absolute;
    top: 0px;
    left: $burgerMenuWidth - 1px;
    transform-origin: left;
    transform: rotateY(90deg);
    transition: transform 0.15s linear;
    width: $burgerMenuWidth + 20px;
    display: grid;
    height: fit-content;
}

.expand-menu.types {
    height: $burgerMenuHeight;
}

// END Burger's dropdown menu

// END Burger btn and burger's dropdown menu

// START Search Box

.DropdownSeacher {
    position: absolute;
    width: 100%;
    top: $headerHeigh;
    transform-origin: top;
    transform: rotateX(90deg);
    transition: transform 0.15s linear;
    height: fit-content;
    padding: 4px 0px;
    background-color: $headerColor;
}

.DropdownSeacher input {
    width: 100%;
    height: 35px;
    outline: none;
    font-size: 16px;
    font-weight: 400;
    border: none;
    padding: 0 35px 0 35px;
}

.DropdownSeacher.active {
    transform: rotateX(0deg);
}

// END Search Box

// START User's button && dropdown menu
.userDropdown-content {
    background-color: $headerColor;
    color: $headerContentColor;
    position: absolute;
    top: $headerHeigh;
    right: 0px;
    transform-origin: top;
    transform: rotateX(90deg);
    transition: transform 0.15s linear;
}

.userDropdown-content.active {
    transform: rotateX(0deg);
}

// .langExpand-menu {
//     background-color: rgb(147, 255, 141);
//     position: absolute;
//     top: 0px;
//     right: 90px;
//     transform-origin: right;
//     transform: rotateY(90deg);
//     transition: transform 0.15s linear;
//     width: fit-content;
//     display: grid;
//     height: fit-content;
// }

input[type=checkbox]:checked+.langExpand-menu {
    transform: rotateY(0deg);
}

input[type=checkbox]:checked+.langExpand-menu {
    transform: rotateY(0deg);
}

$MiniBurgerMenuWidth: 120px;

@media screen and (max-width: 350px) {
    .dropdown-content {
        width: $MiniBurgerMenuWidth;
        font-size: 14px;
    }

    .expand-menu {
        left: $MiniBurgerMenuWidth - 1px;
        width: $MiniBurgerMenuWidth + 20px;
    }

    .expand-menu.types {
        height: fit-content;
    }

    .userDropdown-content {
        font-size: 14px;
    }
}